@font-face {
    font-family: texticons;
    font-weight: normal;
    font-style: normal;
    src: url('https://at.alicdn.com/t/font_702773_g9f89om4v3j.ttf') format('truetype');
}

.icon-text {
    font-family: texticons;
}

.icon-share {
    color: #A4ADC0;
}

.icon-share::after {
    content: '\e62d';
}

.loadMore {
    font-size: 30upx;
    color: #555;
    margin-bottom: 20upx;
}

.border-bottom {
    border-bottom-width: 1upx;
    border-color: #c8c7cc;
    border-bottom-style: solid;
}

.prize-item {
    display: flex;
    margin: 30upx 30upx 30upx 44upx;
    padding: 17upx 20upx;
    box-shadow: 0px 2upx 10upx 5upx rgba(0, 0, 0, 0.07);
    align-items: center;
    justify-content: space-between;
    height: 165upx;
    line-height: 165upx;
    border-radius: 20upx;
    font-weight: bold;
    font-size: 32upx;
    color: #333;
    background: #fff;
}

.prize-item.active:active {
    background: rgba(0, 0, 0, 0.01);
}

.prize-item-img {
    width: 165upx;
    height: 165upx;
    border-radius: 8upx;
    margin-right: 30upx;
}